<template>
    <div id="main" class="bg-gray-100 relative overflow-hidden">
      <div class="hidden absolute right-0 top-0 bottom-0 flex items-center -mr-10">
          <img style="width: 800px;" src="https://tuple.app/img/logo.svg" alt="An illustration of two programmers pairing remotely">
      </div>

      <header id="nav" class="relative flex items-center justify-between px-6 py-6 lg:px-16 lg:pb-8">
          <!-- <router-link :to="{name: 'home'}"></router-link> -->
          <div><router-link class="nav-link" :to="{ name: 'home' }"><img src="https://tuple.app/img/logo.svg" alt="Tuple's logo" class="h-10 lg:h-14"></router-link></div>
          <div class="lg:hidden">
            <button class="block rounded focus:outline-none focus-visible:shadow-outline">
                <svg viewBox="0 0 24 24" fill="currentColor" class="h-6 w-6 text-gray-800">
                  <path d="M3 7.5a1 1 0 011-1h16a1 1 0 110 2H4a1 1 0 01-1-1zM3 15.5a1 1 0 011-1h16a1 1 0 110 2H4a1 1 0 01-1-1z"></path>
                </svg>
            </button>
          </div>
          <navigationMenu></navigationMenu>
          
      </header>
      <router-view></router-view>
    </div>    
</template>

<script>
  import navigationMenu from './components/Menu.vue'
  export default {
    data() {
      return {
        //
      }
    },
    components: {
      navigationMenu
    }
  }
</script>
