<template>
    <div class="max-w-6xl mx-auto px-6 md:px-12 py-16">
    <div class="text-center max-w-2xl mx-auto">
      <h2 class="text-3xl text-gray-900 mt-2">User Dashboard</h2>
      <p class="text-lg text-gray-700 mt-2">
        Users
      </p>
    </div>
  </div>
</template>

<script>

  export default {
    data() {
      return {
        //
      }
    },
    components: {
      //
    }
  }
</script>