<template>

    <main class="relative max-w-md mx-auto px-4 pt-6 lg:px-16 lg:pt-12 lg:max-w-5xl">
      <h1 class="max-w-xs mx-auto text-2xl font-bold text-center leading-snug text-gray-900 lg:max-w-2xl lg:text-5xl">        
        <span class="ml-1">{{ $route.params.page_slug.toUpperCase() }}</span>
      </h1>
      <p class="mt-4 text-gray-700 text-center lg:max-w-xl lg:mx-auto lg:text-xl">
        Content Of {{ $route.params.page_slug }}
      </p>
      <div class="mt-10 lg:mt-16 lg:max-w-4xl lg:mx-auto lg:px-8">
        <div class="lg:-mx-4 lg:flex lg:items-center">
          <div class="lg:px-12 lg:px-4">
            
          </div>          
        </div>
      </div>
    </main>   
</template>

<script>
    export default {
        data() {
            return {
                page_slug:this.$route.params.page_slug
            }
        },
    }
</script>