<template>
    <div class="pt-10 lg:pt-32 pb-32 lg:pb-40 max-w-6xl mx-auto px-6 md:px-12">
      <div class="relative flex flex-wrap">
         <div class="hidden lg:flex absolute items-center" style="left: 425px; top: -115px;">
            <img style="max-width: none; width: 900px;" src="https://tuple.app/svg/illustration.svg" alt="An illustration of two programmers pairing remotely">
         </div>
         <div class="w-full lg:w-1/2 relative">
            <div class="mx-auto lg:mx-0 max-w-lg text-center lg:text-left">
               <h1 class="text-3xl sm:text-4xl leading-snug font-bold tracking-tight text-gray-900">
                  The best <span class="text-indigo-600">remote pair programming app</span> on macOS
               </h1>
               <div class="mt-3 text-xl md:text-2xl text-gray-700">
                  Because we programmers deserve better than a generic screen sharing tool 
               </div>
            </div>
            <div class="lg:hidden mx-auto mt-4" style="max-width: 800px;">
               <img src="https://tuple.app/svg/illustration.svg" alt="An illustration of two programmers pairing remotely">
            </div>
            <div class="mt-6 lg:mt-12">
               <div class="text-center lg:text-left font-semibold text-gray-900 md:text-lg">
                  Ready for a pairing app you'll actually like?
               </div>
               <div class="mt-4 flex justify-center lg:justify-start">
                   <router-link :to="{ name: 'register' }" class="w-full sm:w-auto text-center text-md font-semibold bg-indigo-600 text-white rounded-lg px-6 py-3 md:px-8 md:py-5 hover:bg-indigo-500 focus:bg-indigo-700 transition ease-in-out duration-300">
                  Start a Free Trial</router-link>
                  </a>
               </div>
            </div>
         </div>
      </div>
   </div>
</template>