<template>
  <div class="z-50 absolute inset-0 p-4 lg:block lg:static lg:z-auto lg:p-0 hidden">
    <div class="fixed inset-0 bg-gray-900 opacity-50 lg:hidden"></div>
    <nav class="relative lg:flex items-center max-w-sm ml-auto px-6 pt-6 pb-8 bg-white rounded-lg lg:max-w-full lg:ml-0 lg:p-0 lg:bg-transparent">
        <div class="flex items-center justify-between lg:hidden">
          <h3 class="text-sm text-gray-600 leading-none">Navigation</h3>
          <button class="text-gray-800 rounded focus:outline-none focus-visible:shadow-outline">
              <svg viewBox="0 0 24 24" class="h-6 w-6">
                <path d="M10.586 12L7.05 8.464l-.077-.087A1 1 0 018.464 7.05L12 10.586l3.536-3.536a1 1 0 011.491 1.327l-.077.087L13.414 12l3.536 3.536.077.087a1 1 0 01-1.491 1.327L12 13.414 8.464 16.95a1 1 0 01-1.491-1.327l.077-.087L10.586 12z" fill="currentColor"></path>
              </svg>
          </button>
        </div>       
        
        <li class="mt-2 -mx-3 block px-3 py-2 text-lg text-gray-900 rounded hover:bg-gray-200 lg:hover:underline focus:outline-none focus:underline lg:mt-0 lg:mx-0 lg:ml-8 lg:p-0 lg:hover:bg-transparent" v-for="(route, key) in routes.pages" v-bind:key="route.path">
            <router-link  :to="{ name : 'Page', params: { page_slug: route.path } }" :key="key">                
                {{route.name}}
            </router-link>
        </li>

        <!--LOGGED USER-->
        <li class="mt-2 -mx-3 block px-3 py-2 text-lg text-gray-900 rounded hover:bg-gray-200 lg:hover:underline focus:outline-none focus:underline lg:mt-0 lg:mx-0 lg:ml-8 lg:p-0 lg:hover:bg-transparent" v-if="$auth.check(1)" v-for="(route, key) in routes.user" v-bind:key="route.path">
            <router-link  :to="{ name : route.path }" :key="key">
                {{route.name}}
            </router-link>
        </li>
        <!--LOGGED ADMIN-->
        <li class="mt-2 -mx-3 block px-3 py-2 text-lg text-gray-900 rounded hover:bg-gray-200 lg:hover:underline focus:outline-none focus:underline lg:mt-0 lg:mx-0 lg:ml-8 lg:p-0 lg:hover:bg-transparent" v-if="$auth.check(2)" v-for="(route, key) in routes.admin" v-bind:key="route.path">
            <router-link  :to="{ name : route.path }" :key="key">
                {{route.name}}
            </router-link>
        </li>

        <li class="mt-2 -mx-3 block px-3 py-2 text-lg text-gray-900 rounded hover:bg-gray-200 lg:hover:underline focus:outline-none focus:underline lg:mt-0 lg:mx-0 lg:ml-8 lg:p-0 lg:hover:bg-transparent" v-if="!$auth.check()" v-for="(route, key) in routes.unloggedLogin" v-bind:key="route.path">
            <router-link  :to="{ name : route.path }" :key="key">
                {{route.name}}
            </router-link>
        </li>

        <li class="mt-4 block px-4 py-2 text-md text-center font-semibold text-white rounded-md bg-indigo-600 hover:bg-indigo-500 focus:bg-indigo-700 focus:outline-none transition ease-in-out duration-300 lg:mt-0 lg:mx-0 lg:ml-8" v-if="!$auth.check()" v-for="(route, key) in routes.unloggedReg" v-bind:key="route.path">
            <router-link  :to="{ name : 'register' }" :key="key">
                {{route.name}}
            </router-link>
        </li>

        <!--LOGOUT-->
        <li class="mt-2 -mx-3 block px-3 py-2 text-lg text-gray-900 rounded hover:bg-gray-200 lg:hover:underline focus:outline-none focus:underline lg:mt-0 lg:mx-0 lg:ml-8 lg:p-0 lg:hover:bg-transparent" v-if="$auth.check()">
            <a href="#" @click.prevent="$auth.logout()">Logout</a>
        </li>

        <!-- <a href="https://production.tuple.app/users/sign_in" class="mt-2 -mx-3 block px-3 py-2 text-lg text-gray-900 rounded hover:bg-gray-200 lg:hover:underline focus:outline-none focus:underline lg:mt-0 lg:mx-0 lg:ml-8 lg:p-0 lg:hover:bg-transparent">Sign In</a> 
        <a href="https://production.tuple.app/signups/new?plan=free_trial" class="mt-4 block px-4 py-2 text-md text-center font-semibold text-white rounded-md bg-indigo-600 hover:bg-indigo-500 focus:bg-indigo-700 focus:outline-none transition ease-in-out duration-300 lg:mt-0 lg:mx-0 lg:ml-8">Sign Up</a> -->
    </nav>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        routes: {
          // UNLOGGED
          unloggedReg: [
            {
              name: 'Sign Up',
              path: 'register'
            }
          ],
          unloggedLogin: [            
            {
              name: 'Sign In',
              path: 'login'
            }
          ],

          // LOGGED USER
          user: [
            {
              name: 'Dashboard',
              path: 'dashboard'
            }
          ],
          // LOGGED ADMIN
          admin: [
            {
              name: 'Dashboard',
              path: 'admin.dashboard'
            }
          ],
          //Common Pages
          pages: [
            {
              name: 'Pricing',
              path: 'pricing'
            },
            {
              name: 'Pricing Guide',
              path: 'pricing-guide'
            },
            {
              name: 'Docs',
              path: 'docs'
            },
            {
              name: 'Blog',
              path: 'blog'
            }
          ],          
        }
      }
    },
    mounted() {
      //
    }
  }
</script>
