<template>
<div  class="max-w-md px-12 py-12 mb-24 content mx-auto lg:ml-12">
    <h1>List Of Users</h1>
    <div class="alert alert-danger" v-if="has_error">
        <p>Error, unable to retrieve the list of users.</p>
    </div>

    <table class="table" width="100%">
        <tr>
            <th scope="col" width="5%">Id</th>
            <th scope="col" width="10%">Name</th>
            <th scope="col" width="10%">Email</th>
            <th scope="col" width="75%">Date of Registration</th>
        </tr>
        <tr v-for="user in users" v-bind:key="user.id" style="margin-bottom: 5px;">
            <th width="5%" scope="row">{{ user.id }}</th>
            <td width="10%">{{ user.name }}</td>
            <td width="10%">{{ user.email }}</td>
            <td width="75%">{{ user.created_at}}</td>

        </tr>
    </table>

</div>
</template>

<script>
  export default {
    data() {
      return {
        has_error: false,
        users: null
      }
    },

    mounted() {
      this.getUsers()
    },

    methods: {
      getUsers() {
        this.$http({
          url: `users`,
          method: 'GET'
        })
            .then((res) => {
              this.users = res.data.users
            }, () => {
              this.has_error = true
            })
      }
    }
  }
</script>