<template>   

  <div class="max-w-6xl mx-auto px-6 md:px-12 py-16">
    <div class="text-center max-w-2xl mx-auto">
      <h2 class="text-3xl text-gray-900 mt-2">Admin Dashboard</h2>
      <p class="text-lg text-gray-700 mt-2">
        Users
      </p>
    </div>
    <div class="md:flex -mx-12 md:-mx-12 mt-12">
      <div class="md:flex-1 mt-10 md:mt-0 px-12">
          <userList></userList>
      </div>      
    </div>
  </div>
</template>

<script>
  import userList from '../../components/user-list.vue'
  export default {
    mounted() {
      //
    },
    components: {
      userList
    }
  }
</script>